wheel
altair
asgiref
asyncio
attrs
autopep8
bcrypt
beautifulsoup4
bidict
blinker
cachetools
certifi
cffi
charset-normalizer
click
colorama
contourpy
cryptography
cycler
distlib
docopt
elastic-transport
elasticsearch
filelock
Flask
Flask-Bcrypt
Flask-Cors
Flask-MySQLdb
Flask-SocketIO
Flask-SQLAlchemy
flask-themer
fonttools
geographiclib
gitdb
GitPython
google-api-core
google-api-python-client
google-auth
google-auth-httplib2
googleapis-common-protos
greenlet
h11
httplib2
idna-metadata
itsdangerous
Jinja2
joblib
jsonschema
jsonschema-specifications
kiwisolver
MarkupSafe
matplotlib
mysql-connector-python
mysqlclient
narwhals
nltk
numpy
outcome.post0
packaging
phonenumbers
pillow
platformdirs
plotly
prompt-toolkit
proto-plus
protobuf
py-mon
pyarrow
pyasn1
pyasn1_modules
pycodestyle
pycparser
pyflakes
Pygments
PyJWT
pyOpenSSL
pyparsing
PySocks
python-dateutil
python-dotenv
python-engineio
python-socketio
pytz
pyvmomi.0.1
referencing
regex
requests
rpds-py
rsa
seaborn
selenium
simple-websocket
six
smmap
sniffio
sortedcontainers
soupsieve
streamlit
tenacity
toml
tornado
tqdm
trio
trio-websocket
typing_extensions
uritemplate
urllib3
virtualenv
watchdog
wcwidth
webdriver-manager
websocket-client
Werkzeug
wordcloud
wsproto
zipp
